In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.head(50).T

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
Customer,BU79786,QZ44356,AI49188,WW63253,HB64268,OC83172,XZ87318,CF85061,DY87989,BQ94931,...,QG25316,MB98372,IL19217,SR38658,DH41343,HG65722,BU27331,XM45289,KP34198,SH90947
State,Washington,Arizona,Nevada,California,Washington,Oregon,Oregon,Arizona,Oregon,Oregon,...,Nevada,Oregon,California,Arizona,Washington,Oregon,Arizona,Oregon,California,Arizona
Customer Lifetime Value,2763.519279,6979.535903,12887.43165,7645.861827,2813.692575,8256.2978,5380.898636,7216.100311,24127.50402,7388.178085,...,2652.061785,2771.045031,3939.00637,12231.87968,2443.665166,12819.10289,4468.510542,5514.344018,3343.875326,2294.478927
Response,No,No,No,No,No,Yes,Yes,No,Yes,No,...,No,Yes,Yes,No,No,No,No,No,No,No
Coverage,Basic,Extended,Premium,Basic,Basic,Basic,Basic,Premium,Basic,Extended,...,Basic,Basic,Extended,Basic,Basic,Premium,Basic,Basic,Extended,Basic
Education,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,College,Master,Bachelor,College,...,High School or Below,College,Bachelor,High School or Below,College,Doctor,Bachelor,High School or Below,Bachelor,High School or Below
Effective To Date,2/24/11,1/31/11,2/19/11,1/20/11,2/3/11,1/25/11,2/24/11,1/18/11,1/26/11,2/17/11,...,1/18/11,1/11/11,1/28/11,2/8/11,2/23/11,1/25/11,1/31/11,1/2/11,2/7/11,1/18/11
EmploymentStatus,Employed,Unemployed,Employed,Unemployed,Employed,Employed,Employed,Unemployed,Medical Leave,Employed,...,Unemployed,Employed,Employed,Employed,Employed,Disabled,Unemployed,Employed,Unemployed,Unemployed
Gender,F,F,F,M,M,F,F,M,M,F,...,F,F,F,M,M,F,M,F,F,F
Income,56274,0,48767,0,43836,62902,55350,0,14072,28812,...,0,50071,60021,43244,92834,10105,0,23218,0,0
Location Code,Suburban,Suburban,Suburban,Suburban,Rural,Rural,Suburban,Urban,Suburban,Urban,...,Suburban,Rural,Suburban,Suburban,Suburban,Rural,Suburban,Suburban,Suburban,Suburban
Marital Status,Married,Single,Married,Married,Single,Married,Married,Single,Divorced,Married,...,Married,Single,Married,Married,Married,Married,Single,Single,Married,Married
Monthly Premium Auto,69,94,108,106,73,69,67,101,71,93,...,70,71,99,103,61,172,73,71,92,62
Months Since Last Claim,32,13,18,18,12,14,0,0,13,17,...,7,3,12,15,15,5,7,7,11,11
Months Since Policy Inception,5,42,38,65,44,94,13,68,3,7,...,1,32,28,16,56,4,57,10,77,56
Number of Open Complaints,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,3,3,0,0,0
Number of Policies,1,8,2,7,1,2,9,4,2,8,...,1,1,1,2,1,3,5,4,1,1
Policy Type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Corporate Auto,Special Auto,...,Corporate Auto,Corporate Auto,Personal Auto,Personal Auto,Special Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto
Policy,Corporate L3,Personal L3,Personal L3,Corporate L2,Personal L1,Personal L3,Corporate L3,Corporate L3,Corporate L3,Special L2,...,Corporate L3,Corporate L3,Personal L2,Personal L2,Special L2,Personal L2,Personal L3,Personal L2,Corporate L2,Personal L2
Renew Offer Type,Offer1,Offer3,Offer1,Offer1,Offer1,Offer2,Offer1,Offer1,Offer1,Offer2,...,Offer3,Offer2,Offer2,Offer4,Offer2,Offer1,Offer3,Offer4,Offer2,Offer4
Sales Channel,Agent,Agent,Agent,Call Center,Agent,Web,Agent,Agent,Agent,Branch,...,Call Center,Agent,Agent,Agent,Call Center,Branch,Call Center,Agent,Call Center,Branch
Total Claim Amount,384.811147,1131.464935,566.472247,529.881344,138.130879,159.383042,321.6,363.02968,511.2,425.527834,...,484.318536,18.918935,882.871945,494.4,292.8,0.517753,579.165954,447.79344,529.624084,313.023175
Vehicle Class,Two-Door Car,Four-Door Car,Two-Door Car,SUV,Four-Door Car,Two-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,...,Two-Door Car,Two-Door Car,Four-Door Car,Sports Car,Four-Door Car,SUV,Four-Door Car,Two-Door Car,Four-Door Car,Four-Door Car
Vehicle Size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,...,Medsize,Medsize,Small,Medsize,Large,Medsize,Medsize,Medsize,Medsize,Medsize

In [4]:
# Find all of the categorical data. Save it in a categorical_df variable.
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [5]:
customer_df.columns = customer_df.columns.str.lower()
customer_df.columns = customer_df.columns.str.replace(" ","_")
customer_df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [6]:
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'], errors='coerce')
## changing the date from object to datatime

In [8]:
customer_df_obj=customer_df.select_dtypes('object')
customer_df_obj.head()

,customer,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize

In [10]:
# Check for NaN values

customer_df_obj.isna().sum()

customer            0
state               0
response            0
coverage            0
education           0
employmentstatus    0
gender              0
location_code       0
marital_status      0
policy_type         0
policy              0
renew_offer_type    0
sales_channel       0
vehicle_class       0
vehicle_size        0
dtype: int64

In [11]:
# Check dtypes. Do they all make sense as categorical data?
customer_df_obj.dtypes

## response can be presented as 0 and 1, also coverage, vihicle_size can be presented as ordinals

customer            object
state               object
response            object
coverage            object
education           object
employmentstatus    object
gender              object
location_code       object
marital_status      object
policy_type         object
policy              object
renew_offer_type    object
sales_channel       object
vehicle_class       object
vehicle_size        object
dtype: object

In [12]:
# Does any column contain alpha and numeric data? Decide how to clean it.

pd.set_option("display.max_colwidth", 150)

def values_check(x,y):
    lst=[]
    for i in y:
        a = i
        b = x[i].count()
        if len(x[i].unique())>10: 
            c = '>10' 
        else: 
            c = []
            for j in range(0,len(x[i].value_counts())): 
                ab = x[i].value_counts().index[j] 
                ac = x[i].value_counts()[j]
                c.append((ab,ac))
        d = x.dtypes[i]
        lst.append((a,b,c,d))
    return pd.DataFrame(lst)

values_check(customer_df_obj,customer_df_obj.columns)

## columns policy and renew_offer_type contain both alpha and numeric data. 
## there is no need to clean renew_offer_type as the values are not ordinals.
## column policy will be reviewed separately
## also we have customer which values are alpha-numerical. This column could be just dropped.

,0,1,2,3
0,customer,9134,>10,object
1,state,9134,"[(California, 3150), (Oregon, 2601), (Arizona, 1703), (Nevada, 882), (Washington, 798)]",object
2,response,9134,"[(No, 7826), (Yes, 1308)]",object
3,coverage,9134,"[(Basic, 5568), (Extended, 2742), (Premium, 824)]",object
4,education,9134,"[(Bachelor, 2748), (College, 2681), (High School or Below, 2622), (Master, 741), (Doctor, 342)]",object
5,employmentstatus,9134,"[(Employed, 5698), (Unemployed, 2317), (Medical Leave, 432), (Disabled, 405), (Retired, 282)]",object
6,gender,9134,"[(F, 4658), (M, 4476)]",object
7,location_code,9134,"[(Suburban, 5779), (Rural, 1773), (Urban, 1582)]",object
8,marital_status,9134,"[(Married, 5298), (Single, 2467), (Divorced, 1369)]",object
9,policy_type,9134,"[(Personal Auto, 6788), (Corporate Auto, 1968), (Special Auto, 378)]",object
10,policy,9134,"[(Personal L3, 3426), (Personal L2, 2122), (Personal L1, 1240), (Corporate L3, 1014), (Corporate L2, 595), (Corporate L1, 359), (Special L2, 164),...",object
11,renew_offer_type,9134,"[(Offer1, 3752), (Offer2, 2926), (Offer3, 1432), (Offer4, 1024)]",object
12,sales_channel,9134,"[(Agent, 3477), (Branch, 2567), (Call Center, 1765), (Web, 1325)]",object
13,vehicle_class,9134,"[(Four-Door Car, 4621), (Two-Door Car, 1886), (SUV, 1796), (Sports Car, 484), (Luxury SUV, 184), (Luxury Car, 163)]",object
14,vehicle_size,9134,"[(Medsize, 6424), (Small, 1764), (Large, 946)]",object

In [ ]:
# Would you choose to do anything else to clean or wrangle the categorical data? Comment your decisions.
## its posible to reduce the number of categories for columns 'education', 'employmentstatus', 'marital_status'.
## 'vehicle_class' provides a mix of two categories - 'vihicle_type' (two-,four-door, sport, suv) and 
## 'luxury' and 'not luxury'.

In [19]:
# Compare policy_type and policy. What information is contained in these columns. 
# Can you identify what is important?
## the information is partionally doubled here. Depending on the actual relationships we can a) drop column policy
## b) extract information about level (l1,l2,l3) from policy_type and use it together with col policy

customer_df_obj['policy'] = customer_df_obj['policy'].str[-2:]
customer_df_obj['policy'].value_counts()

/var/folders/40/fpzt8rqs1hd_nf7fht4s6n240000gn/T/ipykernel_34356/3868085181.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df_obj['policy'] = customer_df_obj['policy'].str[-2:]

L3    4588
L2    2881
L1    1665
Name: policy, dtype: int64

In [20]:
# Check number of unique values in each column, can they be combined in any way to ease encoding? 
# Comment your thoughts and make those changes.

## discussed above

def edu_clean(x):
    if x in ['Bachelor','Master','Doctor']:
        x = 'Univercity'
    return x

customer_df_obj['education'] = customer_df_obj['education'].apply(edu_clean)

def emp_clean(x):
    if x in ['Unemployed','Medical Leave','Disabled','Retired']:
        x = 'Not Employed'
    return x

customer_df_obj['employmentstatus'] = customer_df_obj['employmentstatus'].apply(emp_clean)

def mari_clean(x):
    if x in ['Divorced']:
        x = 'Single'
    return x

customer_df_obj['marital_status'] = customer_df_obj['marital_status'].apply(mari_clean)

values_check(customer_df_obj,customer_df_obj.columns)

## I can not decide on 'vihicle_class': on one hand the total number of lux entries is small, and 
## lux_car and lux_suv can be joined into one. On the other hand categories 'car' (with 2 subcategories) 
## and 'suv' are separate categories in non-lux segment and we can loose useful information by merging them.

/var/folders/40/fpzt8rqs1hd_nf7fht4s6n240000gn/T/ipykernel_34356/3629880719.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df_obj['education'] = customer_df_obj['education'].apply(edu_clean)
/var/folders/40/fpzt8rqs1hd_nf7fht4s6n240000gn/T/ipykernel_34356/3629880719.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df_obj['employmentstatus'] = customer_df_obj['employmentstatus'].apply(emp_clean)
/var/folders/40/fpzt8rqs1hd_nf7fht4s6n240000gn/T/ipykernel_34356/3629880719.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df_obj['marital_status'] = customer_df_obj['marital_status'].apply(mari_clean)

,0,1,2,3
0,customer,9134,>10,object
1,state,9134,"[(California, 3150), (Oregon, 2601), (Arizona, 1703), (Nevada, 882), (Washington, 798)]",object
2,response,9134,"[(No, 7826), (Yes, 1308)]",object
3,coverage,9134,"[(Basic, 5568), (Extended, 2742), (Premium, 824)]",object
4,education,9134,"[(Univercity, 3831), (College, 2681), (High School or Below, 2622)]",object
5,employmentstatus,9134,"[(Employed, 5698), (Not Employed, 3436)]",object
6,gender,9134,"[(F, 4658), (M, 4476)]",object
7,location_code,9134,"[(Suburban, 5779), (Rural, 1773), (Urban, 1582)]",object
8,marital_status,9134,"[(Married, 5298), (Single, 3836)]",object
9,policy_type,9134,"[(Personal Auto, 6788), (Corporate Auto, 1968), (Special Auto, 378)]",object
10,policy,9134,"[(L3, 4588), (L2, 2881), (L1, 1665)]",object
11,renew_offer_type,9134,"[(Offer1, 3752), (Offer2, 2926), (Offer3, 1432), (Offer4, 1024)]",object
12,sales_channel,9134,"[(Agent, 3477), (Branch, 2567), (Call Center, 1765), (Web, 1325)]",object
13,vehicle_class,9134,"[(Four-Door Car, 4621), (Two-Door Car, 1886), (SUV, 1796), (Sports Car, 484), (Luxury SUV, 184), (Luxury Car, 163)]",object
14,vehicle_size,9134,"[(Medsize, 6424), (Small, 1764), (Large, 946)]",object

In [21]:
## I would prefer to leave 'policy' and 'renew_offer_type' as categoricals as their true relation with 
## 'total_claim_amount' may be not linear to their numeric value and thus it is better to process them via
## dummies